In [1]:
# importando alguns pacotes

#modelagem de dados
import pandas as pd
import numpy as np

#numeros aleatorios
import random

#datas
import datetime

#web scrappimg
import requests
from bs4 import BeautifulSoup

#dados aleatorios
from faker import Faker
from cpf_generator import CPF

In [3]:
# gerador fake

gerador = Faker(locale='pt_BR')

In [39]:
for loop in range(5):
    print(f'{gerador.name()}, {gerador.cpf()}, {gerador.address()}\n\n\n')

Sr. Luiz Fernando Gonçalves, 835.172.409-23, Setor Leandro da Cruz, 80
Boa União 2ª Seção
89195-220 Nascimento / PI



Théo Aragão, 094.156.328-60, Favela Emilly Ferreira, 9
Conjunto Paulo Vi
23546526 Aragão / MS



Dr. Pedro Lucas Oliveira, 018.745.369-10, Vereda de Abreu, 62
São Cristóvão
13258-990 Mendes da Mata / MG



Ian Costa, 749.038.561-00, Morro de Barros, 55
Vila Nova Gameleira 3ª Seção
59593-610 da Mata / MT



Alana Novais, 150.423.896-60, Ladeira de Santos, 18
Novo Aarão Reis
76998865 Correia Paulista / GO

In [51]:
# gerr CPF
geraCpf = CPF.generate()

for loop in range(5):
    geraCpf = CPF.generate()
    print( geraCpf )

78508360223
35409743342
21702604713
46028563900
52880935121

In [79]:
# gerar RG
# sequencia 9 digitos + estado de horigem 

def Gerador_RG():
    # criar uma sequencia de 9 digitos 
    Numero_RG = str(random.randint(100000000, 999999999))

    # Estado
    Estado_Origem = str( random.randint(0, 9) )

    # Juntar ambos
    Numero = f'{Numero_RG}.{Estado_Origem}'
    
    return Numero

In [85]:
Gerador_RG()

'320833913.0'

In [87]:
# loop 

for loop in range(10):
    
    print(Gerador_RG())

523745099.1
151386930.8
902245470.0
162469958.1
839335107.3
688609738.1
727756403.3
491940900.9
619726373.0
232904337.7

In [95]:
# dados do scrapping
URL_glass = 'https://www.glassdoor.com.br/Salários/canadá-engenheiro-de-dados-salário-SRCH_IL.0,6_IN3_KO7,26.htm?clickSource=searchBtn'

Conexao = requests.get(URL_glass)

# coletando informações da pagina

Coleta = BeautifulSoup(Conexao.text, 'html.parser')

print( type(Coleta))

print(Coleta.title)

<class 'bs4.BeautifulSoup'>
None

In [103]:
Var = """

"""

In [ ]:
Coleta = BeautifulSoup( Var, 'html.parser')
Tabela = Coleta.find_all('div', attrs={'class':' salary-card_TotalPay__tVZF_ '})
print(Tabelas)

In [197]:
Tabelas[0].find_all('div', attrs={'class':'salary-card_TotalPay__tVZF_'})

[<div class="salary-card_TotalPay__tVZF_">
                                                     CA$ 105 mil<!-- -->
                                                      - <!-- -->
                                                     CA$ 150 mil
                                                 </div>]

In [241]:
Tabelas[1].find_all('div', attrs={'class':'salary-card_TotalPay__tVZF_'})

[<div class="salary-card_TotalPay__tVZF_">
                                                     CA$ 85 mil<!-- -->
                                                      - <!-- -->
                                                     CA$ 109 mil
                                                 </div>]

In [211]:
Tabelas[1].find_all('p', attrs={'class':'salary-card_EmployerName__H6Gtr'})

In [276]:
Tabelas[1].find_all('p')[0].text, Tabelas[1].find_all('div', attrs={'class':'salary-card_TotalPay__tVZF_'})[0].text

('RBC',
 '\n                                                    CA$\xa085\xa0mil\n                                                     - \n                                                    CA$\xa0109\xa0mil\n                                                ')

In [272]:
Tabelas[3].find_all('p')[0].text, Tabelas[0].find_all('div', attrs={'class':'salary-card_TotalPay__tVZF_'})[0].text

('Bell',
 '\n                                                    CA$\xa0105\xa0mil\n                                                     - \n                                                    CA$\xa0150\xa0mil\n                                                ')

In [251]:
Lista_Empresas = []
Lista_Salarios = []

for loop in Tabelas:
    Nome_Empresa = loop.find_all('p')[0].text
    Salario = loop.find_all('div', attrs={'class':'salary-card_TotalPay__tVZF_'})[0].text

    Lista_Empresas.append(Nome_Empresa)
    Lista_Salarios.append(salario)

    print(Nome_Empresa, ' R$:',Salario)

Shopify  R$:
                                                    CA$ 105 mil
                                                     -
                                                    CA$ 150 mil

RBC  R$:
                                                    CA$ 85 mil
                                                     -
                                                    CA$ 109 mil

Scotiabank  R$:
                                                    CA$ 92 mil
                                                     -
                                                    CA$ 115 mil

Bell  R$:
                                                    CA$ 80 mil
                                                     -
                                                    CA$ 99 mil

TD  R$:
                                                    CA$ 82 mil
                                                     -
                                                    CA$ 110 mil

Loblaw Companies  R$:
                                                    CA$ 88 mil
                                                     -
                                                    CA$ 111 mil

Scotiabank  R$:
                                                    CA$ 80 mil
                                                     -
                                                    CA$ 110 mil

RBC  R$:
                                                    CA$ 85 mil
                                                     -
                                                    CA$ 105 mil

Banque Nationale du Canada/National Bank of Canada  R$:
                                                    CA$ 75 mil
                                                     -
                                                    CA$ 91 mil

RBC  R$:
                                                    CA$ 105 mil
                                                     -
                                                    CA$ 139 mil

In [341]:
# 1º experimento
Dados = {
    'ID' : 1,
    'Nome' : gerador.name(),
    'Data Nascimento' : gerador.date_of_birth(minimum_age=18, maximum_age=50 ),
    'CPF' : geraCpf,
    'RG' : Gerador_RG(),
    'Data Admissao' : gerador.date_of_birth(minimum_age=2, maximum_age=5 ),
    'Salario' : Lista_Salarios[random.randint(0, 9)],
    'Empresa' : Lista_Empresas[random.randint(0, 9)],
    'Departamentos' : random.choice(['Operações','Adm','Tecnologia'])
}

pd.DataFrame(Dados,index=[0])

,ID,Nome,Data Nascimento,CPF,RG,Data Admissao,Salario,Empresa,Departamentos
0,1,Pedro Miguel Campos,2002-08-03,52880935121,534190359.0,2019-08-27,\n ...,RBC,Operações

In [351]:
# variavel de apoio
Contador = 0

# Dados sinteticos
Dados_Loop = []

for Empresa,Salario in zip( Lista_Empresas, Lista_Salarios ):
    geraCpf = CPF.generate()

    Dados = {
        'ID' : Contador + 1,
        'Nome' : gerador.name(),
        'Data Nascimento' : gerador.date_of_birth(minimum_age=18, maximum_age=50 ),
        'CPF' : geraCpf,
        'RG' : Gerador_RG(),
        'Data Admissao' : gerador.date_of_birth(minimum_age=2, maximum_age=5 ),
        'Salario' : Lista_Salarios[Contador],
        'Empresa' : Lista_Empresas[Contador],
        'Departamentos' : random.choice(['Operações','Adm','Tecnologia'])
    }
    Contador += 1

    Dados_Loop.append(Dados)
    
    print( Empresa, Salario)

Shopify
                                                    CA$ 105 mil
                                                     -
                                                    CA$ 139 mil

RBC
                                                    CA$ 105 mil
                                                     -
                                                    CA$ 139 mil

Scotiabank
                                                    CA$ 105 mil
                                                     -
                                                    CA$ 139 mil

Bell
                                                    CA$ 105 mil
                                                     -
                                                    CA$ 139 mil

TD
                                                    CA$ 105 mil
                                                     -
                                                    CA$ 139 mil

Loblaw Companies
                                                    CA$ 105 mil
                                                     -
                                                    CA$ 139 mil

Scotiabank
                                                    CA$ 105 mil
                                                     -
                                                    CA$ 139 mil

RBC
                                                    CA$ 105 mil
                                                     -
                                                    CA$ 139 mil

Banque Nationale du Canada/National Bank of Canada
                                                    CA$ 105 mil
                                                     -
                                                    CA$ 139 mil

RBC
                                                    CA$ 105 mil
                                                     -
                                                    CA$ 139 mil

In [357]:
pd.DataFrame( Dados_Loop )

,ID,Nome,Data Nascimento,CPF,RG,Data Admissao,Salario,Empresa,Departamentos
0,1,Juan Novaes,2005-04-24,51549422219,958115973.6,2021-01-18,\n ...,Shopify,Operações
1,2,Vinicius Lima,1985-09-20,61608377709,397368297.9,2020-05-24,\n ...,RBC,Operações
2,3,Dra. Olívia Mendes,1980-03-23,60180327160,884202878.8,2019-02-27,\n ...,Scotiabank,Operações
3,4,João Gabriel Freitas,1998-12-11,80387859594,630325603.6,2019-03-22,\n ...,Bell,Tecnologia
4,5,Maria Liz Correia,1974-08-29,11901945030,225236645.3,2021-07-18,\n ...,TD,Adm
5,6,Maria Eduarda Sampaio,1977-07-10,65283553981,504244011.0,2019-09-18,\n ...,Loblaw Companies,Operações
6,7,Lucas Gabriel Almeida,1985-07-17,13002659061,866465460.2,2020-12-07,\n ...,Scotiabank,Operações
7,8,Samuel Moraes,1976-07-01,27981537355,269642677.7,2020-06-14,\n ...,RBC,Adm
8,9,Sr. Ian Cavalcante,1985-04-01,10915513161,778056992.7,2020-01-07,\n ...,Banque Nationale du Canada/National Bank of Ca...,Tecnologia
9,10,Yago Pimenta,1978-03-06,70893612685,364204301.1,2020-09-03,\n ...,RBC,Adm